{% extends 'base.html' %}
{% block title %}{{ block.super }} | Detail{% endblock %}


{% block content %}
    <div class="jumbotron jumbotron-fluid" style="background: linear-gradient(#f9f9f9, dodgerblue)">
        <h1 class='posttitle loader text-primary text-center'>{{ projects.title }}</h1>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class='text-center'>{{ projects.description|safe }}</p>
                </div>
                <div class="col-md-6">
                    <img class="imgDetail" src="{{ projects.image.url }}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    {% for project in projects.programing_languages.all %}
{#        <div class="row">#}
{#            <div class="col-sm-2 col-md-4 col-lg-6">#}
{#                <button class=" programingLanguages">{{ project }}</button>#}
{#            </div>#}
{#        </div>#}
        <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body myCardBody">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">{{ project }}</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
