{% load static %}
<div id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="aboutImage" src="{% static 'portfolio/img/profile.jpg' %}" alt="">
            </div>
            <div class="col-md-7">
                <h4>My name is Ghita Alexandru</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto cupiditate deserunt eos
                    et eveniet excepturi, incidunt nam natus quo similique sunt totam? Alias dolor et maxime
                    perspiciatis. Fuga, laudantium!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam architecto at, consequuntur
                    dolore expedita, fugit ipsam labore magnam necessitatibus nihil nobis obcaecati odio optio, placeat
                    quibusdam recusandae rem repellat?</p>
            </div>
        </div>
    </div>
</div>
