<section class="portfolio" id="portfolio">
    <div class="container">
        <div class="section-header">
            <h1 class="header display-4">Previous Works</h1>
        </div>
        <div class="portfolio-wrapper">
            {% for project in projects %}
                <div class="portfolio-object">
                    {% if project.url %}
                        <div class="portfolio-box">
                            <a href="{{ project.url }}">
                                <img src="{{ project.image.url }}" class=" "  alt="">
                            </a>
                        </div>
                    {% else %}
                        <div class="portfolio-box">
                            <img src="{{ project.image.url }}" class=" "  alt="">
                        </div>
                    {% endif %}

                    <h4><a class="btn btn-primary p-btn btn--white"
                           href="{% url 'projects_detail' pk=project.pk %}">{{ project.title }}</a></h4>
                    <div class="portfolio-text">
                        {{ project.description|safe|truncatewords:23}}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


