<div id="skills" class="skillsSection section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>TECHNICAL SKILLS</h2>
                <p>My proficiency in each skill (drag to scroll)</p>
            </div>
            <div class="owl-carousel owl-theme">
                <div class="skill">
				    	<span class="chart" data-percent="67">
				    		<span class="percent">67</span>
				    		<canvas height="152" width="152"></canvas>
				    	</span>
                    <h4>PHP</h4>
                    <p>Used in most of my web based projects</p>
                </div>
                <div class="skill">
				    	<span class="chart" data-percent="72">
				    		<span class="percent">72</span>
				    		<canvas height="152" width="152"></canvas>
				    	</span>
                    <h4>Swift</h4>
                    <p>Used for my iOS applications</p>
                </div>
                <div class="skill">
				    	<span class="chart" data-percent="14">
				    		<span class="percent">14</span>
				    		<canvas height="152" width="152"></canvas>
				    	</span>
                    <h4>C++</h4>
                    <p>A new skill I am learning</p>
                </div>
                <div class="skill">
				    	<span class="chart" data-percent="90">
				    		<span class="percent">90</span>
				    		<canvas height="152" width="152"></canvas>
				    	</span>
                    <h4>HTML</h4>
                    <p>Used in most of my web based projects</p>
                </div>
                <div class="skill">
				    	<span class="chart" data-percent="30">
				    		<span class="percent">30</span>
				    		<canvas height="152" width="152"></canvas>
				    	</span>
                    <h4>MySQL</h4>
                    <p>Used in most of my web based projects</p>
                </div>
            </div>
        </div>
    </div>
</div>
