<div id="skills" class="skillsSection section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>TECHNICAL SKILLS</h2>
                <p>My proficiency in each skill (drag to scroll)</p>
            </div>
            <div class="owl-carousel owl-theme">
                {% for skill in skills %}
                <div class="skill">
				    	<span class="chart" data-percent="{{skills.percent}}">
				    		<span class="percent">{{skills.percent  }}</span>
				    		<canvas height="152" width="152"></canvas>
				    	</span>
                    <h4>{{skills.name  }}</h4>
                    <p>{{skills.text }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
