<div id="stats" class="statsSection section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="squareItem">
                    <div class="squareInnerContainer">
                        <div class="squareIcon">
                            <i class="fa fa-clock"></i>
                        </div>
                        <div class="squareContent">
                            <h2 class="counter">4</h2>
                            <h3>Years Experience</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="squareItem">
                    <div class="squareInnerContainer">
                        <div class="squareIcon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="squareContent">
                            <h2 class="counter">137</h2>
                            <h3>Clients</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="squareItem">
                    <div class="squareInnerContainer">
                        <div class="squareIcon">
                            <i class="fa fa-bolt"></i>
                        </div>
                        <div class="squareContent">
                            <h2 class="counter">18</h2>
                            <h3>iOS Apps</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="squareItem">
                    <div class="squareInnerContainer">
                        <div class="squareIcon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="squareContent">
                            <h2 class="counter">58</h2>
                            <h3>Websites Made</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
